.weather-app {
  padding: 20px;
}

h2 {
  background-color: #4472c4;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.ant-table-thead > tr > th {
  background-color: #4472c4;
  color: #fff;
}

.ant-input-search-button {
  background-color: #4472c4;
  color: #fff;
}

.ant-btn-link {
  color: #4472c4;
}
